/* All styles for your header Components live here */

.Header {
    border: 1.4px solid red;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.Img {
    height: 75px;
    border-radius: 50%;
    margin: 1.8%;
}